<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/pico.slate.min.css" />
    <link rel="stylesheet" href="/css/pico.colors.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <main class="endnotes">
      {{ content | safe }}
    </main>
  </body>
</html>