{% if entry.templateContent %}
  <article class="slide__card">
    <{{ entry.data.headingEl|default("h2") }}>
      {{ entry.data.title }}
    </{{ entry.data.headingEl|default("h2") }}>
    <div class="slide__card-content">
      {{ entry.templateContent|safe }}
    </div>
  </article>
{% endif %}

{% if entry.data.image or entry.data.imageUrl %}
  <figure class="slide__image">
    <img src="{{ entry.data.image }}" alt="{{ entry.data.imageAlt }}"/>
    <figcaption>
      <p>Image:
      {% if entry.data.imageUrl %}
        <a href="{{ entry.data.imageUrl }}">{{ entry.data.imageCredit }}</a>
      {% else %}
        {{ entry.data.imageCredit }}
      {% endif %}
      </p>
    </figcaption>
  </figure>
{% endif %}

{% css %}
  <link rel="stylesheet" href="/css/slide-content.css">
{% endcss %}
